<div>
    <h3 id="page-heading">
        <span jhiTranslate="videos.title">Videos</span>
        <button *jhiHasAnyAuthority="'ROLE_ADMIN'" id="jh-create-entity"
                class="btn btn-primary float-right jh-create-entity create-video"
                [routerLink]="['/video/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span class="hidden-sm-down">
            Create new Video
            </span>
        </button>
    </h3>
    <jhi-alert></jhi-alert>
    <div class="row">
        <div class="col-sm-12">
            <form name="searchForm" class="form-inline">
                <div class="input-group mt-3">
                    <div class="input-group-prepend">
                        <button class="btn btn-info" (click)="search(currentSearch)">
                            <fa-icon [icon]="'search'"></fa-icon>
                        </button>
                        <button class="btn btn-danger" (click)="clear()" *ngIf="currentSearch">
                            <fa-icon [icon]="'trash-alt'"></fa-icon>
                        </button>
                    </div>
                    <input type="text" id="search-input" class="form-control" [(ngModel)]="currentSearch" id="currentSearch"
                           name="currentSearch"
                           placeholder="{{'videos.filter.query'| translate}}">
                </div>
                <div class="input-group mt-3">
                    <div class="input-group-prepend">
                        <span class="input-group-text" jhiTranslate="videos.filter.yearmin">year min</span>
                    </div>
                    <input type="number" id=year-min-input class="form-control" name="year-min" [(ngModel)]="releaseYearMin"
                           (keyup.enter)="searchBlurMin(currentSearch)" (blur)="searchBlurMin(currentSearch)"/>
                </div>
                <div class="input-group mt-3">
                    <div class="input-group-prepend">
                        <span class="input-group-text" jhiTranslate="videos.filter.fwebvotesmin">FilmWeb votes min</span>
                    </div>
                    <input type="number" id=fweb-vote-min-input class="form-control" name="fweb-vote-min" [(ngModel)]="fwebVoteMin"
                           (keyup.enter)="searchBlurMin(currentSearch)" (blur)="searchBlurMin(currentSearch)"/>
                </div>
                <div class="input-group mt-3">
                    <div class="input-group-prepend">
                        <span class="input-group-text" jhiTranslate="videos.filter.imdbvotesmin">Imdb votes min</span>
                    </div>
                    <input type="number" id=imdb-vote-min-input class="form-control" name="imdb-vote-min" [(ngModel)]="imdbVoteMin"
                           (keyup.enter)="searchBlurMin(currentSearch)" (blur)="searchBlurMin(currentSearch)"/>
                </div>
                <div class="input-group mt-3 text-nowrap">
                    <div class="input-group-prepend">
                        <span class="input-group-text" jhiTranslate="videos.filter.genres">Genres</span>
                    </div>
                    <ng-select id="genres-input"
                        [items]="genres | async"
                        [multiple]="true"
                        [closeOnSelect]="false"
                        [hideSelected]="true"
                        placeholder=""
                        name="genres"
                        bindLabel="name"
                        (change)="search(currentSearch)"
                        [(ngModel)]="selectedGenres">
                    </ng-select>
                </div>
            </form>
        </div>
    </div>
    <br/>
    <div class="table-responsive" *ngIf="videos">
        <table class="table table-striped">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="reset.bind(this)">
                <th><span>Podgląd</span>
                </th>
                <th><span jhiTranslate="videos.entity.fwebtitle">Fweb Title</span>
                </th>
                <th jhiSortBy="releaseYear">
                    <div class="text-nowrap text-right">
                        <span jhiTranslate="videos.entity.releaseyear">Release Year</span>
                        <fa-icon [icon]="'sort'"></fa-icon>
                    </div>
                </th>
                <th jhiSortBy="genreId">
                    <div class="text-nowrap">
                        <span jhiTranslate="videos.entity.genre">Genre</span>
                        <fa-icon [icon]="'sort'"></fa-icon>
                    </div>
                </th>
                <th jhiSortBy="fwebRating">
                    <img src="../../../content/images/filmweb30inv.png">
                    <div class="text-nowrap text-right">
                        <span jhiTranslate="videos.entity.fwebrating">Fweb Rating</span>
                        <fa-icon [icon]="'sort'"></fa-icon>
                    </div>
                </th>
                <th jhiSortBy="fwebVotes">
                    <img src="../../../content/images/filmweb30inv.png">
                    <div class="text-nowrap text-right">
                        <span jhiTranslate="videos.entity.fwebvotes">Fweb Votes</span>
                        <fa-icon [icon]="'sort'"></fa-icon>
                    </div>
                </th>
                <th jhiSortBy="imdbRating">
                    <img src="../../../content/images/icons8-imdb-40.png">
                    <div class="text-nowrap">
                        <span jhiTranslate="videos.entity.imdbrating">Imdb Rating</span>
                        <fa-icon [icon]="'sort'"></fa-icon>
                    </div>
                </th>
                <th jhiSortBy="imdbVotes">
                    <img src="../../../content/images/icons8-imdb-40.png">
                    <div class="text-nowrap">
                        <span jhiTranslate="videos.entity.imdbvotes">Imdb Votes</span>
                        <fa-icon [icon]="'sort'"></fa-icon>
                    </div>
                </th>
                <th></th>
            </tr>
            </thead>
            <tbody infinite-scroll (scrolled)="loadPage(page + 1)" [infiniteScrollDisabled]="page >= links['last']"
                   [infiniteScrollDistance]="0">
            <tr *ngFor="let video of videos ;trackBy: trackId">
                <td><a
                    href="https://www.youtube.com/results?search_query={{video.title}} {{video.releaseYear}} trailer">
                    <div class="boxart-260-146"
                         lazyLoad="{{video.boxart}}" width="260px" height="146px"
                         defaultImage='../../content/images/netflixdb_260x146_blur.png'>
                        <img src="../../../content/images/youtube-play160.png" width="30" height="30" align="right">
                    </div>
                </a></td>
                <!--<td>{{video.title}}</td>-->
                <td>
                    <div *ngIf="video.fwebTitle" placement="right" class="underline-on-hover"
                            ngbPopover="{{video.fwebPlot}}" triggers="click:mouseleave">
                        {{video.fwebTitle}}
                    </div>
                    <!--<div>{{video.fwebTitle}}</div>-->
                    <div class="text-muted">{{video.title}}</div>
                </td>
                <td class="text-right">{{video.releaseYear}}</td>
                <td>{{video.genre}}</td>
                <td class="text-right">{{video.fwebRating}}</td>
                <td class="text-right">{{video.fwebVotes}}</td>
                <td class="text-right">{{video.imdbRating}}</td>
                <td class="text-right">{{video.imdbVotes}}</td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button *jhiHasAnyAuthority="'ROLE_ADMIN'" type="submit"
                                [routerLink]="['/video', video.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline">View</span>
                        </button>
                        <button *jhiHasAnyAuthority="'ROLE_ADMIN'" type="submit"
                                [routerLink]="['/video', video.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline">Edit</span>
                        </button>
                        <button *jhiHasAnyAuthority="'ROLE_ADMIN'" type="submit"
                                [routerLink]="['/', { outlets: { popup: 'video/'+ video.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
