<div class="row">
    <div class="col-md-3">
        <span class="netflixdb img-fluid rounded"></span>
    </div>
    <div class="col-md-9">
        <h1 class="display-4">Witaj w Netflixdb!</h1>
        <p class="lead">Nieoficialny katalog polskiego Netflixa</p>

        <div [ngSwitch]="isAuthenticated()">
            <div class="alert alert-success" *ngSwitchCase="true">
                <span *ngIf="account"
                > Zalogowałeś się jako "{{account.login}}". </span>
            </div>

            <div class="alert alert-info" *ngSwitchCase="false">
                <span>Nie masz jeszcze konta?</span>&nbsp;
                <a class="alert-link" routerLink="register">Zarejestruj się</a>
            </div>
        </div>
    </div>
</div>
