<div class="row">
    <div class="col-md-3">
        <span class="netflixdb img-fluid rounded"></span>
    </div>
    <div class="col-md-9">
        <h1 class="display-4" jhiTranslate="home.title">Witaj w Netflixdb!</h1>
        <p class="lead" jhiTranslate="home.subtitle">Nieoficjalny katalog polskiego Netflixa</p>

        <div [ngSwitch]="isAuthenticated()">
            <div class="alert alert-success" *ngSwitchCase="true">
                <span *ngIf="account" jhiTranslate="home.logged.message"
                      translateValues="{username: '{{account.login}}'}"> You are logged in as user "{{account.login}}". </span>
            </div>

            <div *ngIf="!registrationOpen">
                <div class="alert alert-warning" *ngSwitchCase="false">
                    <span jhiTranslate="global.messages.info.register.closed">Registration is currenly closed</span>&nbsp;
                    <a jhiTranslate="global.messages.info.register.wait">Please stay tuned</a>
                </div>
            </div>
            <div *ngIf="registrationOpen">
                <div class="alert alert-info" *ngSwitchCase="false">
                    <span jhiTranslate="global.messages.info.register.noaccount">You don't have an account yet?</span>&nbsp;
                    <a class="alert-link" routerLink="register" jhiTranslate="global.messages.info.register.link">Register a
                        new account</a>
                </div>
            </div>
        </div>

        <!--<p>-->
        <!--<span jhiTranslate="home.like">If you like JHipster, don't forget to give us a star on</span> <a href="https://github.com/jhipster/generator-jhipster" target="_blank" rel="noopener" jhiTranslate="home.github">GitHub</a>!-->
        <!--</p>-->
    </div>
</div>
