<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="przelewy24Trx">
            <h2><span>Przelewy 24 Trx</span> {{przelewy24Trx.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span>Created Date</span></dt>
                <dd>
                    <span>{{przelewy24Trx.createdDate}}</span>
                </dd>
                <dt><span>Confirmed Date</span></dt>
                <dd>
                    <span>{{przelewy24Trx.confirmedDate}}</span>
                </dd>
                <dt><span>Email</span></dt>
                <dd>
                    <span>{{przelewy24Trx.email}}</span>
                </dd>
                <dt><span>Session Id</span></dt>
                <dd>
                    <span>{{przelewy24Trx.sessionId}}</span>
                </dd>
                <dt><span>Description</span></dt>
                <dd>
                    <span>{{przelewy24Trx.description}}</span>
                </dd>
                <dt><span>Currency</span></dt>
                <dd>
                    <span>{{przelewy24Trx.currency}}</span>
                </dd>
                <dt><span>Country</span></dt>
                <dd>
                    <span>{{przelewy24Trx.country}}</span>
                </dd>
                <dt><span>Amount</span></dt>
                <dd>
                    <span>{{przelewy24Trx.amount}}</span>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/przelewy-24-trx', przelewy24Trx.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span> Edit</span>
            </button>
        </div>
    </div>
</div>
